<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charSet="UTF-8" data-next-head=""/>
        <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" data-next-head=""/>
        <link rel="icon" href="/icons/logo.png" data-next-head=""/>
        <title data-next-head="">Stake XRP</title>
        <link rel="icon" href="/icons/logo.png" data-next-head=""/>
        <meta name="description" content="Stake XRP" data-next-head=""/>
        <meta name="keywords" content="Stake XRP" data-next-head=""/>
        <meta name="author" content="Stake XRP" data-next-head=""/>
        <link rel="preload" href="/_next/static/css/2122f29355985571.css" as="style"/>
        <link rel="preload" href="/_next/static/css/fa0d2a4c4cdddc2a.css" as="style"/>
        <link rel="stylesheet" href="/_next/static/css/2122f29355985571.css" data-n-g=""/>
        <link rel="stylesheet" href="/_next/static/css/fa0d2a4c4cdddc2a.css" data-n-p=""/>
        <noscript data-n-css=""></noscript>
        <script defer="" noModule="" src="/_next/static/chunks/polyfills-42372ed130431b0a.js"></script>
        <script src="/_next/static/chunks/webpack-8cac0b4b405cede1.js" defer=""></script>
        <script src="/_next/static/chunks/framework-a4ddb9b21624b39b.js" defer=""></script>
        <script src="/_next/static/chunks/main-013d79fd40076fd9.js" defer=""></script>
        <script src="/_next/static/chunks/pages/_app-812ca9a74095ff87.js" defer=""></script>
        <script src="/_next/static/chunks/965-e3a3c044d52d8469.js" defer=""></script>
        <script src="/_next/static/chunks/392-3fd9fb2f56c66704.js" defer=""></script>
        <script src="/_next/static/chunks/pages/index-2035308f17acb254.js" defer=""></script>
        <script src="/_next/static/gIrKINQ0M-PdHapaokhUX/_buildManifest.js" defer=""></script>
        <script src="/_next/static/gIrKINQ0M-PdHapaokhUX/_ssgManifest.js" defer=""></script>
    </head>
    <body class="antialiased">
        <div id="__next">
            <div>
                <div>
                    <main class="Home_main__VkIEL">
                        <nav class="Nav_navbar__UHZRX">
                            <div class="Nav_navbarContainer__g88d_">
                                <a class="Nav_logo__RYI5o" href="/">
                                    <h1 style="font-weight: bold;">RIPPLELEDGER</h1>                                </a>
                                <button class="Nav_navbarToggler__CRHlw">
                                    <span class="Nav_togglerIcon__HDpM8"></span>
                                </button>
                                <div class="Nav_navbarMenu__dXVOh ">
                                    <ul class="Nav_navList__CrcpB">
                                        <li class="Nav_navItem__V_nzb">
                                            <a href="/about">About</a>
                                        </li>
                                        <li class="Nav_navItem__V_nzb">
                                            <a href="/docs">Docs</a>
                                        </li>
                                        <li class="Nav_navItem__V_nzb">
                                            <a href="/resources">Resources</a>
                                        </li>
                                        <li class="Nav_navItem__V_nzb">
                                            <a href="/community">Community</a>
                                        </li>
                                        <br/>
                                        <li class="Nav_navItem__V_nzb">
                                            <button class="Nav_walletButton__3Wenw"><a href="/login">Sign in / Sign up</a></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <section class="Home_container__d256j">
                            <img alt="XRPL.org" loading="lazy" width="100" height="100" decoding="async" data-nimg="1" class="Home_hero__VkeT1" style="color:transparent" src="/_next/static/media/hero.6da3166d.svg"/>
                            <div class="Home_connect_section__iN9W8">
                                <h2>XRPL | XRP Ledger</h2>
                                <h1>
                                    The Blockchain<br/>Built for Business
                                </h1>
                                <button class="Home_walletButton__HsXT6"><a href="/signup"> Sign in / Sign up</a>
                                <!-- -->
                               </button>
                            </div>
                            <div class="Home_contentBox__a2GZ1">
                                <h2 class="Home_heading__f_gSb" style="padding-top:12rem">The XRP Ledger: The Blockchain Built for Business</h2>
                                <h6 class="Home_subheading__M4K88">The XRP Ledger (XRPL) is a decentralized, public blockchain led by a global community of businesses and developers looking to solve problems and create value.</h6>
                                <p class="Home_text__FLP25">Proven reliable over more than a decade of error-free functioning, the XRPL offers streamlined development, low transaction costs, high performance, and sustainability.</p>
                            </div>
                        </section>
                        <section class="Home_container__d256j">
                            <div class="Home_contentBox__a2GZ1">
                                <h3 class="Home_heading__f_gSb">Why developers choose the XRP Ledger</h3>
                                <h6>Benefits</h6>
                            </div>
                            <ul class="Home_grid__AVljO">
                                <li class="Home_card__E5spL">
                                    <img alt="Public and Decentralized" loading="lazy" width="50" height="50" decoding="async" data-nimg="1" style="color:transparent" src="/icons/public.svg"/>
                                    <h4 class="Home_cardTitle__rMNyu">Public and Decentralized</h4>
                                    <p class="Home_cardText__Cg7Ud">Open source, open to anyone to build on</p>
                                </li>
                                <li class="Home_card__E5spL">
                                    <img alt="Low Cost" loading="lazy" width="50" height="50" decoding="async" data-nimg="1" style="color:transparent" src="/icons/low-cost.svg"/>
                                    <h4 class="Home_cardTitle__rMNyu">Low Cost</h4>
                                    <p class="Home_cardText__Cg7Ud">Fractions of a penny per transaction</p>
                                </li>
                                <li class="Home_card__E5spL">
                                    <img alt="Proven Reliability" loading="lazy" width="50" height="50" decoding="async" data-nimg="1" style="color:transparent" src="/icons/reliability.svg"/>
                                    <h4 class="Home_cardTitle__rMNyu">Proven Reliability</h4>
                                    <p class="Home_cardText__Cg7Ud">10+ years of error-free performance</p>
                                </li>
                            </ul>
                        </section>
                        <section class="Home_container__d256j">
                            <div class="Home_contentBox__a2GZ1">
                                <h3 class="Home_heading__f_gSb">Powerful Features</h3>
                                <h6>Activate the proven potential of the XRP Ledger</h6>
                            </div>
                            <div class="Home_grid__AVljO">
                                <a class="Home_cardLink__EqSxN" href="/decentralized-exchange.html">
                                    <div class="Home_card__E5spL">
                                        <h4 class="Home_cardTitle__rMNyu">Decentralized Exchange</h4>
                                        <p class="Home_cardText__Cg7Ud">A high-performance decentralized peer-to-peer multi-currency exchange built directly into the blockchain</p>
                                    </div>
                                </a>
                                <a class="Home_cardLink__EqSxN" href="/tokens.html">
                                    <div class="Home_card__E5spL">
                                        <h4 class="Home_cardTitle__rMNyu">Tokens</h4>
                                        <p class="Home_cardText__Cg7Ud">All currencies other than XRP can be represented in the XRP Ledger as tokens, Represent currencies as XRPL tokens</p>
                                    </div>
                                </a>
                            </div>
                        </section>
                        <footer class="Home_footer__yFiaX">
                            <section class="Home_footerContent__RZUDB">
                                <div>
                                    <h5>About</h5>
                                    <ul>
                                        <li>
                                            <a href="/#">XRPL Overview</a>
                                        </li>
                                        <li>
                                            <a href="/#">History</a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <h5>Docs</h5>
                                    <ul>
                                        <li>
                                            <a href="/#">Documentation</a>
                                        </li>
                                        <li>
                                            <a href="/#">Tutorials</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <div class="Home_copyright__Iq1SU">
                                © 2025 XRP Ledger.
                                <!-- -->
                                <a href="/">Open Source</a>
                            </div>
                        </footer>
                    </main>
                </div>
            </div>
        </div>

    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/691349b4b87a5b195b0dc974/1j9plfqlc';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
           </body>
</html>
