.connect_wwwflareevmnetworkcomByHtm1__jmQat {
    color: #000;
    background: #fff
}

.connect_divwalletConnect__6z7J_ {
    width: 100%;
    background-color: #fff;
    height: 100%;
    padding-bottom: 4rem;
    flex-direction: column
}

.connect_divimtoken__Z1hyc,.connect_divwalletConnect__6z7J_ {
    border-radius: var(--br-4xs);
    display: flex;
    gap: 20px;
    align-items: center
}

.connect_divimtoken__Z1hyc {
    width: 95%;
    background-color: var(--color-white);
    box-shadow: 0 3px 16px rgba(47,83,109,.12);
    height: 5.56rem;
    font-size: var(--font-size-smi-1);
    margin: 0 auto
}

.connect_divauthorAvatar__6sv3c {
    width: 4.11rem;
    height: 4.11rem;
    text-align: center;
    font-size: var(--font-size-3xs);
    color: var(--color-white);
    font-family: var(--font-font-awesome-5-free);
    padding-left: .5rem;
    z-index: 80
}

.connect_linkPd6ommpoaofmpjznt5t4zdo__47nFJ {
    border-radius: var(--br-18xl);
    width: 4.11rem;
    height: 4.11rem;
    overflow: hidden;
    object-fit: cover;
    z-index: 80
}

.connect_symbol__ASTZd {
    line-height: 1rem;
    margin-left: -1px;
    font-size: .5rem
}

.connect_divbadge__AHiQY {
    position: absolute;
    margin-left: 48px;
    margin-top: -18px;
    border-radius: 50%;
    background-color: #007bff;
    width: 1rem;
    height: 1rem;
    z-index: 1000;
    color: #fff
}

.connect_heading__vJdYe {
    letter-spacing: .1px;
    line-height: .83rem;
    font-weight: 500;
    font-size: .8rem;
    padding-bottom: 10px
}

.connect_tokenpocketpro__e_WoO {
    font-size: var(--font-size-sm);
    line-height: 1.22rem;
    color: var(--color-slategray)
}

.connect_heading21__54cir {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.44rem;
    font-weight: 500;
    font-family: inherit;
    padding: 20px
}

.connect_divcolMd121__Mpfyr {
    text-align: center;
    font-size: 1.11rem;
    color: #1f1f2c;
    font-family: var(--font-roboto);
    padding: 3rem 2rem
}

.connect_divheadingLine1__fjAcS {
    display: flex;
    align-items: center;
    justify-content: center
}

.connect_divheadingLine1__fjAcS input {
    padding: 12px;
    border-radius: 4px;
    margin-right: 8px;
    border: none;
    background: #e9e9e9
}

.connect_divheadingLine1__fjAcS button {
    padding: 12px 16px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer
}

.connect_divheadingLine1__fjAcS button:focus {
    outline: none
}

.connect_notFoundMessage__3iQgI {
    color: red;
    font-size: 16px;
    margin-top: 10px;
    text-align: center
}

.connect_popUp__wBR4w {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    z-index: 3000
}

.connect_subPopUp__M_3p1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 96%;
    border-radius: 8px;
    padding: 10px 10px 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    text-align: center;
    margin: 50px auto 0
}

.connect_close__xKknq {
    cursor: pointer;
    margin-top: -2px;
    margin-right: -300px;
    position: absolute
}

.connect_loadingSpinner__b3q1t {
    border-radius: 50%;
    border: 4px solid rgba(0,0,0,.1);
    border-top-color: #3498db;
    width: 40px;
    height: 40px;
    animation: connect_spin__9VKOc 1s linear infinite;
    margin: 0 auto
}

.connect_session__hqtux {
    font-size: .9rem
}

.connect_animate__q5sYe {
    padding: 20px
}

.connect_animate__q5sYe p {
    font-size: .8rem;
    color: gray
}

.connect_animate__q5sYe .connect_secure__RF7fD {
    color: #000
}

.connect_error__veja1 {
    color: red;
    text-decoration: underline;
    font-weight: 600;
    font-size: .9rem
}

.connect_popUp__wBR4w button {
    width: 100%;
    padding: .8rem;
    text-align: center;
    font-weight: 700;
    margin: 5px 0;
    border-radius: 8px;
    cursor: pointer
}

.connect_popUp__wBR4w .connect_retry__jabAz {
    border: 1px solid #0070f3;
    background: #fff;
    color: #0070f3
}

.connect_popUp__wBR4w .connect_connect__sDhKg,.connect_sendToApi__o4LFg button {
    border: none;
    color: #fff;
    background: #0070f3
}

.connect_sendToApi__o4LFg textarea {
    width: 100%;
    height: 100px;
    max-height: 100px;
    border: 1px solid gray;
    padding: 1rem;
    font-size: large
}

.connect_sendToApi__o4LFg textarea:focus {
    outline: #0070f3;
    border: 1px solid #0070f3
}

.connect_flexInterPopUp__VtzLS {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.connect_flexInterPopUp__VtzLS img {
    width: 20px;
    height: 20px
}

.connect_flexInterPopUp__VtzLS p {
    font-size: .6rem;
    padding: 0;
    margin: 0
}

.connect_warning__ntGQH {
    font-size: .65rem;
    color: red;
    padding: 0;
    margin: 0;
    font-weight: 500
}

.connect_imgSection__P5kwn img {
    border-radius: var(--br-18xl);
    width: 4.11rem;
    height: 4.11rem;
    overflow: hidden;
    object-fit: cover
}

.connect_imgSection__P5kwn p {
    font-size: 1rem;
    font-weight: 700;
    padding: 0;
    margin: 0
}

.connect_Phrase__9p4Ux {
    background: #0f1823;
    padding: .5rem 3rem;
    color: #fff;
    border-radius: 10px;
    align-self: flex-start;
    width: fit-content;
    margin: 1rem 0
}

@keyframes connect_spin__9VKOc {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@media (min-width: 550px) {
    .connect_divwalletConnect__6z7J_ {
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 16px
    }

    .connect_divheadingLine1__fjAcS input,.connect_subPopUp__M_3p1 {
        width: 100%;
        max-width: 400px
    }

    .connect_subPopUp__M_3p1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        height: 75vh;
        max-height: 500px;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0,0,0,.1);
        text-align: center
    }

    .connect_close__xKknq {
        margin-top: -7px;
        margin-right: -350px
    }
}
